.table thead > tr > th, 
.table tbody > tr > th, 
.table tfoot > tr > th, 
.table thead > tr > td, 
.table tbody > tr > td, 
.table tfoot > tr > td
{
	text-align:center;
	vertical-align:middle;
	padding:10px;
}

table tbody > tr:nth-child(2n) > td, 
table tbody > tr:nth-child(2n) > th,
th
{
	background-color: #F9F9F9!important;
}

table tbody > tr:nth-child(2n+1) > td, 
table tbody > tr:nth-child(2n+1) > th
{
	background-color: #fff!important;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td
{
	border-bottom-width:0px;
}

.list-group-item:nth-child(2n+1){
	background: #F9F9F9;
}